<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <ul>
      <% resource.errors.each do |attribute, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

