<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <div class="alert alert-danger">
      <% resource.errors.each do |attribute, message| %>
        <%= message %><br>
      <% end %>
    </div>
  </div>
<% end %>