<body>
  <div id="page">
    <div id="header" class="cx">
      <div class="headerBox">
        <div class="logo">
          <h1 class="xs">出欠チェッカー</h1>
          <h2>出欠確認のミスをゼロに。正確で効率的な出欠管理ツール</h2>
        </div>
      </div>
    </div>

    <div id="wrapper" class="cx" style="display: block;">
      <div id="topMain">
        <p>会議の出欠回答がカンタンにできる<br>幹事・秘書のお役立ちツールです。</p>

        <div class="banner">
         <%= image_tag 'banner.png', width: "896", height: "512", alt: "出欠チェッカーのバナー画像" %>
        </div>

      
        <ul id="topMerit" class="cx">
          <li class="merit1">イベントをカンタン作成</li>
          <li class="merit2">参加者にURLを共有するだけ</li>
          <li class="merit3">参加者の回答をみて、安心して運営できる</li>
        </ul>
      </div>
    </div>
  </div>

  <script src="//x.gnst.jp/jquery-1.8.3.js"></script> 
  <script src="https://chosei.gnavi.co.jp/js/pc/jquery.colorbox.js"></script> 
  <script src="https://chosei.gnavi.co.jp/js/pc/script.js"></script>
</body>
