<h1>ユーザ一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>Email</th>
      <th>管理者</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.is_admin? ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
